/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,500&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*navbar styling*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu','sans-serif';
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background:rgb(17, 74, 97) ;
}

.max-width{
    max-width: 1900px;
    padding: 0 80px; 
    margin: auto;

}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: crimson;
    font-size: 35px;
    font-weight: 600;
}   


.navbar .logo a span{
    color: rgb(17, 74, 97);
}

.navbar.sticky .logo a span{
    color: antiquewhite;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: crimson;
    font-size: 19px;
    font-weight: 600;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar.sticky .menu li a{
    color: antiquewhite;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: rgb(17, 74, 97) ;
}

.navbar.sticky .menu li a:hover{
    color: crimson; 
   
}

/* menu button styling */

.menu-btn{
    color:crimson;
    font-size: 25px;
    cursor: pointer;
    display: none;

}

.menu-btn i.active:before{
    content:"\f00d";
}


/* home styling */
.home{
    display: flex;
    background: url("https://lh3.googleusercontent.com/DYqEncXWlI5cv8zXI1balZ1VE1JFjQBHYd0XAkcNroAi8xYcNUbi4dQJBwdsuExDNdy0PmmIGc740J6ULrUiSCM6Yc1YOtW7vPer_gQbjTn0hjc51V5N-DvO5PFozv8R9jDGVkOPbmxbJQi_lbjQY3yciJHHGtiiUTWqj7swxb0FRv2ZsyJUaFv0io-ggjJTp7Z4scE-Cp5-riaGyzvuKZadKIdThnhjUFlEuKjRHat3WPLIJo3Dti-rXpHbixwNur1lH8bkve0pX1AKOgFKV49lbnv6Radcrh4i37sWsRVGWzgvCwqStGmtVegT3KRHWvjr7meum0_e8Q8IB7JczhVArdTG3iJhbG1yTzbTgCe-Nv-hUTIN2DZC42ceVZzUOAWqXsrFxrBxM9nNjgWi8BaBzWRW0Fv1krHQoaT0MW_7dJtDaYo8Ztt7i1JsWZuzKRLZWq6aGzYmkQkeexm_LTVXqeIDnRsaSupZ4xiLJfj-0EIJUJrhuo0mCNFVprdLjDNcD0HLcent2mIqw3yBjzebglAcf4XyKzUsORrLFlPLfdNBt7CKfmrbFs-sNpQFVHiq23Twm8EGH8JBZ_KbDH1Bu7M2ujad2H9M-lZgxK9E4nUJyYbLw3WlgI7gUXqtVIaIb88idyFJ_0EfLjopiUhvpgO_URiFMrCvzXeWUcgKNbT180exYMJw0LDGOg=w1741-h979-no?authuser=0") no-repeat center;
    height: 100vh;
    background-size: cover;
    color:rgb(17, 74, 97);
    min-height: 600px;
    font-family: 'Ubuntu', 'sans-serif';
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 80px;
    font-weight: 500;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 45px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color:crimson;
    font-weight: 500;

}
.home .home-content a{
    display: inline-block;
    background:crimson;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

/* about section styling */
section{
    padding: 100px 0;
}
.about{
    font-family: Helvetica, sans-serif;
}

.about .title{
    position: relative;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', 'sans-serif';
    color: rgb(17, 74, 97) ;
}

.about .title:before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:rgb(17, 74, 97);
    transform: translateX(-50%);
}

.about .title::after{
    content: " who I am";
    position: absolute;
    bottom: -13px;
    left: 50%;
    font-size: 20px;
    color:crimson; 
    padding: 5px;
    background: #ffffff;
    transform: translateX(-50%);
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.about .about-content .left{
    width: 45%;

}
.about .about-content .left img{
    height: 400px;
    width: 600px;
    object-fit: fill;
    border-radius: 10px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;


}

.about .about-content .right .text span{
    color: crimson;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background:crimson;
    color: white;
    font-size: 20px;
    padding: 10px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}





/* responsive media query start */
/* @media(max-width: 2560px){
    .home .home-content .text-1{
        font-size: 50px;
    }
    .home .home-content .text-2{
        font-size: 140px;
    }
    .home .home-content .text-3{
        font-size: 75px;

    }
} */

@media(max-width: 1500px){
    .about .about-content .left img{
        height: 375px;
        width: 562px;
        object-fit: fill;
        border-radius: 10px;  
    }
}


@media(max-width: 1343px){
    .home .max-width{
        margin-left: 0px;
    }
    
}
@media(max-width: 800px){
    .max-width{
        padding: 0 50px;
    }
    .about .about-content .left img{
        height: 300px;
        width: 450px;
        object-fit: fill;
        border-radius: 10px;
        
    }
    .about .about-content .right{
        width: 100%;
    }

    
}
@media(max-width: 950px){
    .max-width{
        padding: 0 50px;
    }

    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background:  rgb(17, 74, 97);
        text-align: center;
        padding-top: 150px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
        margin-bottom: 40px;
        color: antiquewhite;
    }

    .navbar .menu li a{
        display: inline;
        margin: 20px 0;
        font-size: 25px;
        color: antiquewhite;
        
    }
    .navbar .menu li a:hover{
        color:crimson;
    }

    .home .home-content .text-1{
        font-size: 27px;
        

    }

    .home .home-content .text-2{
        font-size: 80px;
        width: 50px;

    }
    
    .home .home-content .text-3{
        font-size: 45px;

    }

    .max-width{
        max-width: 800px;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
   

}


@media(max-width: 800px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-1{
        font-size: 26px;
        
    }

    .home .home-content .text-2{
        font-size: 80px;
        
    }
    
    .home .home-content .text-3{
        font-size: 35px;
     
    }

}

@media(max-width: 600px){
    .home .home-content .text-1{
        font-size: 22px;
        
    }

    .home .home-content .text-2{
        font-size: 68px;
        
    }
    
    .home .home-content .text-3{
        font-size: 31px;
     
    }

}
@media(max-width: 427px){
    .home .home-content .text-1{
        font-size: 20px;
        
    }

    .home .home-content .text-2{
        font-size: 50px;
        
    }
    
    .home .home-content .text-3{
        font-size: 27px;
     
    }
    .about .about-content .left img{
        height: 260px;
        width: 390px;
        object-fit: fill;
        border-radius: 10px;
        
    }

}   
@media(max-width: 376px){
    .home .home-content .text-1{
        font-size: 18px;
        
    }

    .home .home-content .text-2{
        font-size: 48px;
        
    }
    
    .home .home-content .text-3{
        font-size: 24px;
     
    }
    .about .about-content .left img{
        height: 240px;
        width: 360px;
        object-fit: fill;
        border-radius: 10px;
        
    }

}  

