/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,500&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1800px;
    padding: 0 80px; 
    margin: auto;

}
/*navbar styling*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu','sans-serif';
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background:rgb(17, 74, 97) ;
}



.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: crimson;
    font-size: 35px;
    font-weight: 600;
}   


.navbar .logo a span{
    color: rgb(17, 74, 97);
}

.navbar.sticky .logo a span{
    color: antiquewhite;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: crimson;
    font-size: 19px;
    font-weight: 600;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar.sticky .menu li a{
    color: antiquewhite;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: rgb(17, 74, 97) ;
}

.navbar.sticky .menu li a:hover{
    color: crimson; 
   
}

/* menu button styling */

.menu-btn{
    color:crimson;
    font-size: 25px;
    cursor: pointer;
    display: none;

}

.menu-btn i.active:before{
    content:"\f00d";
}
 /* scroll button styling */
 .scroll-up-btn{
     position: fixed;
     height: 45px;
     width: 45px;
     background: crimson;
     right: 30px;
     bottom: 10px;
     text-align: center;
     line-height: 45px;
     color: white;
     z-index: 9999;
     font-size: 30px;
     border-radius: 10px;
     cursor: pointer;
     opacity: 0;
     pointer-events: none;
     transition: all 0.3s ease;
 }
 .scroll-up-btn.show{
     bottom: 30px;
     opacity: 1;
     pointer-events: auto;
 }

/* home styling */
.home{
    display: flex;
    background: url("https://lh3.googleusercontent.com/DYqEncXWlI5cv8zXI1balZ1VE1JFjQBHYd0XAkcNroAi8xYcNUbi4dQJBwdsuExDNdy0PmmIGc740J6ULrUiSCM6Yc1YOtW7vPer_gQbjTn0hjc51V5N-DvO5PFozv8R9jDGVkOPbmxbJQi_lbjQY3yciJHHGtiiUTWqj7swxb0FRv2ZsyJUaFv0io-ggjJTp7Z4scE-Cp5-riaGyzvuKZadKIdThnhjUFlEuKjRHat3WPLIJo3Dti-rXpHbixwNur1lH8bkve0pX1AKOgFKV49lbnv6Radcrh4i37sWsRVGWzgvCwqStGmtVegT3KRHWvjr7meum0_e8Q8IB7JczhVArdTG3iJhbG1yTzbTgCe-Nv-hUTIN2DZC42ceVZzUOAWqXsrFxrBxM9nNjgWi8BaBzWRW0Fv1krHQoaT0MW_7dJtDaYo8Ztt7i1JsWZuzKRLZWq6aGzYmkQkeexm_LTVXqeIDnRsaSupZ4xiLJfj-0EIJUJrhuo0mCNFVprdLjDNcD0HLcent2mIqw3yBjzebglAcf4XyKzUsORrLFlPLfdNBt7CKfmrbFs-sNpQFVHiq23Twm8EGH8JBZ_KbDH1Bu7M2ujad2H9M-lZgxK9E4nUJyYbLw3WlgI7gUXqtVIaIb88idyFJ_0EfLjopiUhvpgO_URiFMrCvzXeWUcgKNbT180exYMJw0LDGOg=w1741-h979-no?authuser=0") no-repeat center;
    height: 100vh;
    background-size: cover;
    color:rgb(17, 74, 97);
    min-height: 600px;
    font-family: 'Ubuntu', 'sans-serif';
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 80px;
    font-weight: 500;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 45px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color:crimson;
    font-weight: 500;

}
.home .home-content a{
    display: inline-block;
    background:crimson;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

/* similar styling */
section{
    padding: 100px 0;
}
.about, .skills, .projects, .experiences, .contact, footer{
    font-family: 'Helvetica', 'sans-serif';
}

section .title{
    position: relative;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', 'sans-serif';
    color: rgb(17, 74, 97) ;
}

section .title:before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:rgb(17, 74, 97);
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -13px;
    left: 50%;
    font-size: 20px;
    color:crimson; 
    padding: 5px;
    background: #ffffff;
    transform: translateX(-50%);
}
/* about section styling */
.about .title::after{
    content: "who I am";
}

.about .about-content, .skills .skills-content, .projects .projects-content, .experiences .experiences-content, .contact .contact-content{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.about .about-content .left{
    width: 45%;

}
.about .about-content .left img{
    height: 400px;
    width: 600px;
    object-fit: fill;
    border-radius: 10px;
}

.about .about-content .right{
    width: 50%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: crimson;
}

.about .about-content .right p{
    text-align: justify;
    font-size: 20px;

}

.about .about-content .right a{
    display: inline-block;
    background:crimson;
    color: white;
    font-size: 20px;
    padding: 10px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}

/* Skills section styling */

.skills .title::after{
    content: " what I Know";
}

.skills .skills-content .column{
    width: calc(55% - 150px);
}
.skills .skills-content .right{
    width: 50%;
}
.skills .skills-content .left p{
    text-align: justify;
    font-size: 20px;
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;

}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top:0;
    background: crimson;
}

.skills-content .right .python::before{
    width: 80%;
}
.skills-content .right .matlab::before{
    width: 70%;
}
.skills-content .right .C::before{
    width: 65%;
}
.skills-content .right .html::before{
    width: 70%;
}
.skills-content .right .Js::before{
    width: 60%;
}
.skills-content .right .SQL::before{
    width: 65%;
}

.skills .skills-content .left a{
    display: inline-block;
    background:crimson;
    color: white;
    font-size: 20px;
    padding: 10px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
/* projects section styling */

.projects .title::after{
    content: "what I learn";
}

.projects .projects-content .card{
    width: calc(33% - 20px);
    text-align: center;
    background: rgb(17, 74, 97);
    border-radius: 20px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.projects .projects-content .card i{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: crimson;
    transition: color 0.3s ease;
}

.projects .projects-content .card .text{
    font-size: 25px;
    font-weight: 600;
    color: antiquewhite;
    margin-bottom: 30px;

}

.projects .projects-content .card:hover{
    background: crimson;
}
.projects .projects-content .card:hover i{
    color:rgb(17, 74, 97);
}

.projects .projects-content .card .box{
    transition: all 0.3s ease;
}

.projects .projects-content .card:hover .box{
    transform: scale(1.05);
}

.projects .projects-content .card p{
    color: antiquewhite;
}
 /* experiences section styling */
.experiences .title::after{
    content: "what I gained";
}
.experiences .experiences-content .carousel .card{
    /* width: calc(25% - 20px); */
    text-align: center;
    background: rgb(17, 74, 97);
    border-radius: 20px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.experiences .experiences-content .carousel .card i{
    font-size: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: crimson;
    transition: color 0.3s ease;
}

.experiences .experiences-content .carousel .card .text{
    font-size: 25px;
    font-weight: 600;
    color: antiquewhite;
    margin-bottom: 30px;

}

.experiences .experiences-content .carousel .card:hover{
    background: crimson;
}
.experiences .experiences-content .carousel .card:hover i{
    color:rgb(17, 74, 97);
}

.experiences .experiences-content .carousel .card .box{
    transition: all 0.3s ease;
}

.experiences .experiences-content .carousel .card:hover .box{
    transform: scale(1.05);
}

.experiences .experiences-content .carousel .card p{
    color: antiquewhite;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;

}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}
/* contact section styling */
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom:10px ;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;

}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    color: crimson;
    font-size: 25px;
}
.contact .contact-content .column{
  font-size: 20px;
}
.contact .contact-content .info .sub-title{
    color:rgb(17, 74, 97) ;
}
.contact .contact-content .info .head{
    font-weight: 600;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: Helvetica, sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    height: 100%;
    width: 100%;
    border: 2px solid crimson;
    background: crimson;
    color:white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: crimson;
    background: none;
}

/* footer styling */
footer{
    font-size: 15px;
    padding: 20px 23px;
    background:rgb(17, 74, 97);
    color: white;

}
footer .creator{
    color: crimson;
}
/* responsive media query start */


@media(max-width: 1500px){
    .about .about-content .left img{
        height: 375px;
        width: 562px;
        object-fit: fill;
        border-radius: 10px;  
    }

}


@media(max-width: 1343px){
    .home .max-width{
        margin-left: 0px;
    }
    .contact .contact-content .column{
        font-size: 17px;
      }
    
}

@media(max-width: 950px){
    .max-width{
        padding: 0 50px;
    }

    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        height: 110vh;
        width: 100%;
        left: -100%;
        top: 0;
        background:  rgb(17, 74, 97);
        text-align: center;
        padding-top: 150px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
        margin-bottom: 40px;
        color: antiquewhite;
    }

    .navbar .menu li a{
        display: inline;
        margin: 20px 0;
        font-size: 25px;
        color: antiquewhite;
        
    }
    .navbar .menu li a:hover{
        color:crimson;
    }

    .home .home-content .text-1{
        font-size: 27px;
        

    }

    .home .home-content .text-2{
        font-size: 80px;
        width: 50px;

    }
    
    .home .home-content .text-3{
        font-size: 45px;

    }


    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
   

}


@media(max-width: 800px){
    /* .max-width{
        padding: 0 23px;
    } */
    .home .home-content .text-1{
        font-size: 26px;
        
    }

    .home .home-content .text-2{
        font-size: 80px;
        
    }
    
    .home .home-content .text-3{
        font-size: 35px;
     
    }
    .max-width{
        padding: 0 50px;
    }
    .about .about-content .left img{
        height: 375px;
        width: 562px;
        object-fit: fill;
        border-radius: 10px;  
    }
    .skills .skills-content .right .bars{
        justify-content: center;
    }

    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 35px ;
    }

    .projects .projects-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .experiences .experiences-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .contact .contact-content .right{
        margin-top: 30px;
        width: 100%;
    }

   
}

@media(max-width: 600px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-1{
        font-size: 22px;
        
    }

    .home .home-content .text-2{
        font-size: 68px;
        
    }
    
    .home .home-content .text-3{
        font-size: 31px;
     
    }
    .about .about-content .left img{
        height: 240px;
        width: 360px;
        object-fit: fill;
        border-radius: 10px;  
    }

    .projects .projects-content .card{
        width: 100%;
        margin-bottom: 20px;
        
    }

    .experiences .experiences-content .card{
        width: 100%;
        margin-bottom: 20px;
        
    }
    .contact .contact-content .left{
        width: 100%;
    }

}
@media(max-width: 460px){
    .home{
        height: 110vh;
        width: fit-content;
        
    }
    .home .home-content .text-1{
        font-size: 20px;
        
    }

    .home .home-content .text-2{
        font-size: 50px;
        
    }
    
    .home .home-content .text-3{
        font-size: 27px;
     
    }
    .max-width{
        padding: 0 50px;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        width: 100%;
    }

    .contact .contact-content .right{
        width: 100%;
        font-size: 12px;
    }
    footer{
        font-size: 12px;
 
    }

}   

@media(max-width: 1025px){
    .home .max-width{
        margin-left: 0px;
    }
    .home .home-content .text-2{
        width: 360px;
        
    }
    .max-width{
        padding: 0 50px;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        width: 100%;
    }
}
